apiVersion: v1
kind: Service
metadata:
  name: node-exporter
  labels:
    app.kubernetes.io/name: node-exporter
    app.kubernetes.io/component: exporter
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: 9100
      targetPort: metrics
      protocol: TCP
  selector:
    app.kubernetes.io/name: node-exporter
    app.kubernetes.io/component: exporter
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: node-exporter
  labels:
    app.kubernetes.io/name: node-exporter
