apiVersion: v1
kind: Service
metadata:
  name: neo4j
  labels:
    app: neo4j
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
spec:
  ports:
  - name: bolt
    port: 7687
    targetPort: 7687
    protocol: TCP
  - name: http
    port: 7474
    targetPort: 7474
    protocol: TCP
  - name: https
    port: 7473
    targetPort: 7473
    protocol: TCP
  clusterIP: None
  selector:
    app: neo4j
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: neo4j
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::ACCOUNT_ID:role/insurance-lead-gen-neo4j
