apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: alertmanager-pvc
  labels:
    app.kubernetes.io/name: alertmanager
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp3  # AWS EBS GP3
  resources:
    requests:
      storage: 5Gi
