apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- statefulset.yaml
- service.yaml
- configmap.yaml

images:
- name: redis
  newName: redis
  newTag: 7-alpine

commonLabels:
  app.kubernetes.io/name: redis
  app.kubernetes.io/component: database
  app.kubernetes.io/part-of: insurance-lead-gen
