apiVersion: v1
kind: Service
metadata:
  name: jaeger-collector
  labels:
    app.kubernetes.io/name: jaeger
    app.kubernetes.io/component: collector
spec:
  type: ClusterIP
  ports:
    - name: c-zipkin
      port: 9411
      targetPort: c-zipkin
      protocol: TCP
    - name: c-compact
      port: 14268
      targetPort: c-compact
      protocol: TCP
    - name: otlp-grpc
      port: 4317
      targetPort: otlp-grpc
      protocol: TCP
    - name: otlp-http
      port: 4318
      targetPort: otlp-http
      protocol: TCP
  selector:
    app.kubernetes.io/name: jaeger
    app.kubernetes.io/component: collector
---
apiVersion: v1
kind: Service
metadata:
  name: jaeger-query
  labels:
    app.kubernetes.io/name: jaeger
    app.kubernetes.io/component: query
spec:
  type: ClusterIP
  ports:
    - name: query-http
      port: 16686
      targetPort: query-http
      protocol: TCP
    - name: grpc
      port: 16685
      targetPort: grpc
      protocol: TCP
  selector:
    app.kubernetes.io/name: jaeger
    app.kubernetes.io/component: query
