apiVersion: v1
kind: Service
metadata:
  name: qdrant
  labels:
    app: qdrant
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
spec:
  ports:
  - name: http
    port: 6333
    targetPort: 6333
    protocol: TCP
  - name: grpc
    port: 6334
    targetPort: 6334
    protocol: TCP
  clusterIP: None
  selector:
    app: qdrant
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: qdrant
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::ACCOUNT_ID:role/insurance-lead-gen-qdrant
